# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Distributions
dist/
build/
*.egg
*.whl

# Virtual environment
.env/
venv/
env/
/venv/
/env/

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
Thumbs.db

# Jupyter Notebook files
.ipynb_checkpoints/

# Database files
*.sqlite3
*.db

# Uploaded media (Django/Flask)
/media/

# Logs
*.log

# Temporary files
*.tmp